:root {
    --primary-color: #e20074;
    --secondary-color:white;
  }

.navbar-img{
    position: relative;
    height: 60px;
}
.navbar{
    background-color: var(--primary-color);
}
.centered{
    position:relative;
    color: var(--secondary-color);
}
.navbar-nav{
    display: flex;
    flex-direction: row;
    gap:5%;
}
.nav-link{
    padding: 8px;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    font-weight: 500;
}
.nav-link:hover{
    border: 2px solid var(--primary-color);;
}
    